/* 
colors: 
- Brown: #561E18
- Red: #A82025
- Tan: #BDA05E
- Gold: #B18A30
- Black: #15100C
*/
body {
  background-color: #f8f3f0;
}

.react-tabs__tab-panel:not(.react-tabs__tab-panel--selected) {
  display: none;
}

button {
  padding: 10px;
  background: #561E18;
  border: 1px solid #561E18;
  border-radius: 5px;
  color: #fff;
  margin: 2px;
}

.add-button {
  margin: 10px;
}

input, select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #15100C;
  background: #fff;
}

.url {
  width: 75%;
}

.tab-list {
  display: inline-flex;
  padding: 10px;
  list-style-type: none;
}

.tab:active {
  border: unset;
}

.tab {
  margin: 0 5px 5px auto;
  padding: 1px;
  border-bottom: 2px solid #15100C;
}

.selected-tab {
  border-bottom: 4px solid #B18A30;
}

.cm-scroller {
  border: 2px solid #efefef;
}

.response-status {
  margin-top: 5px;
}