:root {
  --brown: #561E18;
  --red: #A82025;
  --tan: #BDA05E;
  --gold: #B18A30;
  --black: #15100C;
  --off-white: #f8f3f0;
  --white: #fff;
}

body {
  background-color: var(--off-white);
}

.react-tabs__tab-panel:not(.react-tabs__tab-panel--selected) {
  display: none;
}

button {
  padding: 10px;
  background: var(--brown);
  border: 1px solid var(--brown);
  border-radius: 5px;
  color: var(--white);
  margin: 2px;
}

.add-button {
  margin: 10px;
}

input, select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--black);
  background: var(--white);;
}

.url {
  width: 75%;
}

.tab-list {
  display: inline-flex;
  padding: 10px;
  list-style-type: none;
}

.tab:active {
  border: unset;
}

.tab {
  margin: 0 5px 5px auto;
  padding: 1px;
  border-bottom: 2px solid var(--black);
}

.selected-tab {
  border-bottom: 4px solid var(--gold);
}

.cm-scroller {
  border: 2px solid var(--off-white);;
}

.response-status {
  margin-top: 5px;
}

.parent {
  width: 100%; 
}
.left, .right {
  float: left; 
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.url {
  text-overflow: ellipsis !important;
  overflow: hidden !important; 
  width: 160px !important; 
  height: 1.2em !important; 
  white-space: nowrap !important;
}